html {
  box-sizing: border-box;
  height: 100%;
}

body {
  background-color: rgb(25, 25, 25);
  font-family: "Saira", sans-serif;
  color: white;

  height: 100%;
  padding: 0;
  margin: 0;

  overflow-x: hidden;
}

main {
  justify-content: center;
  align-items: center;
  min-height: 100%;
  display: flex;

  overflow-x: hidden;
  position: relative;
}

.grid {
  display: grid;
  padding: 25px;

  /* column-gap: 3px; */
  /* row-gap: 3px; */
}

.grid.hidden {
  display: none;
}

.grid-item {
  justify-content: center;
  align-items: center;
  display: flex;

  /* border-radius: 2px; */
  padding: 20px;

  transition: background-color 150ms ease, transform 200ms ease;
}

.grid-item.size50 {
  height: 50px;
  width: 50px;
}

.grid-item.size75 {
  height: 75px;
  width: 75px;
}

.grid-item.size100 {
  height: 100px;
  width: 100px;
}

.grid-item.hidden {
  transform: translate3d(0, -2000%, 0);
}

.grid-item.MODE_COMPLET {
  background-color: rgba(44, 233, 223, 0.75);
}

.grid-item.MODE_SIMPLE {
  background-color: rgba(224, 80, 80, 0.75);
}

.grid-item[data-symbol="X"] {
  background-image: url("./cross.svg");
}

.grid-item[data-symbol="O"] {
  background-image: url("./circle.svg");
}

.grid-item {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 80%;
}

.grid-item[data-symbol] {
  background-color: rgb(25, 25, 25);
  border: 1px solid rgb(40, 40, 40);
}

.grid-item:not([data-symbol]) {
  border: 1px solid rgb(40, 40, 40);
  cursor: pointer;
}

.grid-item:not([data-symbol]):hover {
  background-color: rgb(50, 50, 50);
}

.score {
  position: absolute;
  bottom: 20px;
  left: 20px;

  flex-direction: column;
  text-align: left;
  display: flex;

  font-size: 18px;
}

.green {
  color: rgb(16, 235, 114);
  font-weight: 500;
  font-size: 24px;
}

.winner .green {
  font-size: inherit;
}

.winner .red {
  color: rgb(224, 80, 80);
}

.inputs {
  flex-direction: column;
  display: flex;

  min-width: 500px;
  width: 25%;
}

.inputs.hidden {
  display: none;
}

label {
  margin-bottom: 5px;
}

select {
  background-color: rgb(50, 50, 50);
  font-family: "Saira", sans-serif;
  color: white;
  outline: none;
  border: none;

  padding: 10px;
}

input ~ label,
input ~ button {
  margin-top: 20px;
}

button {
  background-color: rgba(0, 0, 0, 0);
  font-family: "Saira", sans-serif;
  font-weight: 600;

  border: 2px solid white;
  border-radius: 2px;
  padding: 6px 15px;
  color: white;
  outline: none;

  transition: all 200ms ease;
  align-self: center;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: rgb(25, 25, 25);
}

input {
  background-color: rgb(50, 50, 50);
  font-family: "Saira", sans-serif;
  padding: 10px;

  color: white;
  outline: none;
  border: none;
}

.group {
  display: inline-block;
  margin-top: 20px;
}

.group input ~ label {
  margin-left: 10px;
}

.player1:empty ~ .dash,
.player2:empty ~ .dash {
  display: none;
}

.modal-box {
  transition: opacity 200ms linear, transform 200ms ease;
  background-color: rgb(25, 25, 25);
  border: 2px solid rgb(50, 50, 50);
  position: absolute;
  right: 2%;
  top: 50%;

  transform: translateY(-50%);
  padding: 20px 40px;

  flex-direction: column;
  align-items: center;
  display: flex;
}

.modal-box.hidden {
  transform: translateX(500%) translateY(-50%);
  opacity: 0;
}

.play-again {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.winner:not(:empty) {
  margin-bottom: 10px;
}

.play-again div:first-child {
  margin-bottom: 20px;
}

.play-again button ~ button {
  margin-left: 20px;
}
